<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/frontend/css/reset.css">
    <link rel="stylesheet" href="/frontend/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Outfit:wght@300;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        #PostComments:target{
            display: none;
        }
    </style>
</head>

<body>
    <div class="blur"></div>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <div class="container">
        <div class="mainheader">
            <a href="/auth">
                <div class="logout" title="Login"><i class='bx bx-log-in'></i></div>
            </a>
            <div class="title">
                <a href="/">
                    <p>STELLAR &nbsp F<i class='bx bxs-planet'></i>RUM</p>
                </a>
            </div>
            <label for="profileActivate" class="something"><i class='bx bxs-user' title="View Profile"></i></label>
            <input type="checkbox" id="profileActivate" hidden>
            <div class="profileContainer">
                <div class="profileHeader">
                    <form action="/auth">
                        <label for="chooseProfilePicture">
                            <i class='bx bxs-user-circle profilePic'></i>
                            <p class="editPP">Guest</p>
                        </label>
                        <input type="submit" value="Login" class="uploadPP">
                    </form>
                </div>
            </div>
        </div>
        <nav>
            <div class="spaceNav">
                <div class="wrapOptions">
                    <a href="">
                        <div class="option"><i class='bx bx-laugh'></i>
                            <p class="navTitles">Memes</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="option"><i class='bx bx-joystick'></i>
                            <p class="navTitles">Gaming</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="option"><i class='bx bx-book-alt'></i>
                            <p class="navTitles">Education</p>
                        </div>
                    </a>
                    <a href="/">
                        <div class="option"><i class='bx bxs-home'></i>
                            <p class="navTitles">Home</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="option"><i class='bx bx-microchip'></i>
                            <p class="navTitles">Technology</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="option"><i class='bx bxs-flask'></i>
                            <p class="navTitles">Science</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="option"><i class='bx bx-basketball'></i>
                            <p class="navTitles">Sports</p>
                        </div>
                    </a>
                </div>
                <p class="aboveIcon">Choose a category</p>
                <i class='bx bxs-chevron-down'></i>
            </div>
        </nav>

        <div class="spacing">
            {{range .}}
            <div id="CommentSection={{.ID}}" class="CommentSection">
                <div id="home"></div>
                <div class="postCommentHeader">
                    <a href="#home"><i class='bx bx-x'></i></a>
                </div>
                <div class="post2">
                    <div class="postContent">
                        <div class="userDisplay">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                            <div class="postHeader">
                                <p class="nameCommentContent">@{{.Username}} &nbsp<span
                                        style="font-weight: normal;">•&nbsp {{.FormatDate}}</span></p>
                            </div>
                        </div>
                        <p class="textContent">{{.Content}}</p>
                        {{if .Media}}
                        {{range .Media}}
                        <div class="imageSpace">
                            <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                        </div>
                        {{end}}
                        {{end}}
                        <div class="updateInfo">
                            <div class="combinedlikeDis">
                                <label for="likeCheckbox">
                                    <input type="checkbox" id="likeCheckbox" hidden>
                                    <a href="#popover-content">
                                        <button type="submit" class="likeButton">
                                            <i class='bx bx-like'></i>
                                            <p>{{.Likes}}</p>
                                        </button>
                                    </a>
                                </label>
                                <label for="dislikeCheckbox">
                                    <input type="checkbox" id="dislikeCheckbox" hidden>
                                    <a href="#popover-content">
                                        <button type="submit" class="dislikeButton">
                                            <i class='bx bx-dislike'></i>
                                            <p>{{.Dislikes}}</p>
                                        </button>
                                    </a>
                                </label>
                            </div>
                            <a href="#home">
                                <div class="commentsCon">
                                    <i class='bx bxs-comment comments'></i>
                                    <p>{{.ComCount}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <form action="createcomment" method="post">
                        <input type="hidden" name="hiddenID" value="{{.ID}}">
                        <div class="inputComment">
                            <input type="text" name="commentInput" placeholder="Launch a new comment..." title=""
                                maxlength="366" required autocomplete="off">
                            <button type="submit" class="submitCommentLabel">
                                <i class='bx bx-rocket'></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="otherComments">
                    {{range .Comment}}
                    <div class="comment" id="comment={{.ComID}}">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.ComUsername}} &nbsp<span style="font-weight: normal;">•&nbsp {{.ComFormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">
                                {{.ComContent}}
                            </p>
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <a href="#popover-content">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.ComLikes}}</p>
                                            </button>
                                        </a>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <a href="#popover-content">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.ComDislikes}}</p>
                                            </button>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
            <a href="#home" class="pcAnchor"></a>
            <div class="mainContainer">
                <div class="combinedside">
                    <aside class="spaceNews">
                        <div class="newsTitle">
                            <p class="newsT">Space News</p>
                        </div>
                        <div class="newsContainer">
                            <div class="newsContent">
                                <a href="https://nasaspacenews.com/2024/11/are-black-holes-secretly-powering-the-expansion-of-the-universe/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Are Black Holes Secretly Powering the Expansion of the Universe?</p>
                                        <img src="../../images/news1.webp" alt="Apollo 12">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/could-life-thrive-better-in-a-different-universe-new-findings-spark-debate/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Could Life Thrive Better in a Different Universe? New Findings Spark Debate.
                                        </p>
                                        <img src="../../images/news2.webp" alt="Debate">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/incredible-space-event-andromeda-star-goes-dark-becoming-a-black-hole/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Incredible Space Event! Andromeda Star Goes Dark, Becoming a Black Hole.</p>
                                        <img src="../../images/news3.jpg" alt="Andromeda Star">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/new-discoveries-suggest-mars-was-habitable-for-millions-of-years-did-life-exist/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>New Discoveries Suggest Mars Was Habitable for Millions of Years—Did Life
                                            Exist?</p>
                                        <img src="../../images/news4.webp" alt="Mars Discovery">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/a-mirror-universe-that-moves-backward-in-time-scientists-say-it-could-be-real/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>A Mirror Universe That Moves Backward in Time? Scientists Say It Could Be
                                            Real!</p>
                                        <img src="../../images/news5.webp" alt="Mirror Universe">
                                    </div>
                                </a>
                            </div>
                            <!-- Duplicate content for seamless scrolling -->
                            <div class="newsContent">
                                <a href="https://nasaspacenews.com/2024/11/are-black-holes-secretly-powering-the-expansion-of-the-universe/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Are Black Holes Secretly Powering the Expansion of the Universe?</p>
                                        <img src="../../images/news1.webp" alt="Apollo 12">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/could-life-thrive-better-in-a-different-universe-new-findings-spark-debate/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Could Life Thrive Better in a Different Universe? New Findings Spark Debate.
                                        </p>
                                        <img src="../../images/news2.webp" alt="Debate">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/incredible-space-event-andromeda-star-goes-dark-becoming-a-black-hole/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Incredible Space Event! Andromeda Star Goes Dark, Becoming a Black Hole.</p>
                                        <img src="../../images/news3.jpg" alt="Andromeda Star">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/new-discoveries-suggest-mars-was-habitable-for-millions-of-years-did-life-exist/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>New Discoveries Suggest Mars Was Habitable for Millions of Years—Did Life
                                            Exist?</p>
                                        <img src="../../images/news4.webp" alt="Mars Discovery">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/a-mirror-universe-that-moves-backward-in-time-scientists-say-it-could-be-real/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>A Mirror Universe That Moves Backward in Time? Scientists Say It Could Be
                                            Real!</p>
                                        <img src="../../images/news5.webp" alt="Mirror Universe">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>

                <!-- Main content with posts -->
                <main>
                    {{range .}}
                    <div class="post" id="post={{.ID}}">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <a href="#popover-content">
                                        <button class="likeButton">
                                            <i class='bx bx-like'></i>
                                            <p>{{.Likes}}</p>
                                        </button>
                                        </a>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <a href="#popover-content">
                                        <button class="dislikeButton">
                                            <i class='bx bx-dislike'></i>
                                            <p>{{.Dislikes}}</p>
                                        </button>
                                        </a>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.ID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </main>
            </div>
        </div>
    </div>
    </div>
    <div class="popup" id="popover-content">
        <div class="popupHeader">
            <a href="#home"><i class='bx bx-x'></i></a>
        </div>
        <div class="mainPopup">
            <p class="popupJoin"><span class="popupTitle">Start Your Journey</span></p><p><a href="auth" style="font-size: 1.1rem;">Login</a> or <a href="auth#container2" style="font-size: 1.1rem;">Register</a> to use this feature.</p>
        </div>
    </div>
    <a href="#home" class="popoverAnchor"></a>
</body>
</html>