<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/frontend/css/reset.css">
    <link rel="stylesheet" href="/frontend/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Outfit:wght@300;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="blur"></div>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <div class="container">
        <div class="mainheader">
            <a href="logout">
                <div class="logout" title="Logout"><i class='bx bx-log-out'></i></div>
            </a>
            <div class="title">
                <a href="/">
                    <p>STELLAR &nbsp F<i class='bx bxs-planet'></i>RUM</p>
                </a>
            </div>
        </div>
        <label for="profileActivate" class="something"><i class='bx bx-user' title="View Profile"></i></label>
        <input type="checkbox" id="profileActivate" hidden>
        <div class="profileContainer">
            <div class="profileHeader">
                <form action="profilePicture" method="post">
                    <label for="chooseProfilePicture">
                        <!-- <img class="profilePic" src="../../images/moataz.jpg" alt="User Picture"> -->
                        <i class='bx bxs-user-circle profilePic'></i>
                        <p class="editPP">Edit Picture</p>
                        {{range .UserProfile}}
                        <p class="userProfileName">{{.Username}}</p>
                        {{end}}
                    </label>
                    <input type="file" name="profilePicture" id="chooseProfilePicture" accept="image/*" required>
                    <input type="submit" value="Upload" class="uploadPP">
                </form>
            </div>
            <div class="profileFilter">
                <a href="#createdposts">
                    <i class='bx bxs-edit'></i>
                    <div class="filter">
                        <button type="submit">Created Posts</button>
                    </div>
                </a>
                <a href="#likedposts">
                    <i class='bx bxs-like' style="margin-right: 0.5rem;"></i>
                    <div class="filter">
                        <p>Liked Posts</p>
                    </div>
                </a>
                <a href="#dislikedposts">
                    <i class='bx bxs-dislike' style="margin-right: 0.5rem;"></i>
                    <div class="filter">
                        <p>Disliked Posts</p>
                    </div>
                </a>
                <div class="returnhome">
                    <a href="/">
                        <i class='bx bxs-home'></i>
                        <p>Home</p>
                    </a>
                </div>
            </div>
        </div>
        <label for="profileActivate" class="profileAnchor"></label>  
        <nav>
            <div class="spaceNav">
                <div class="wrapOptions">
                    <a href="#memes">
                        <div class="option"><i class='bx bx-laugh'></i>
                            <p class="navTitles">Memes</p>
                        </div>
                    </a>
                    <a href="#gaming">
                        <div class="option"><i class='bx bx-joystick'></i>
                            <p class="navTitles">Gaming</p>
                        </div>
                    </a>
                    <a href="#education">
                        <div class="option"><i class='bx bx-book-alt'></i>
                            <p class="navTitles">Education</p>
                        </div>
                    </a>
                    <a href="/">
                        <div class="option"><i class='bx bxs-home'></i>
                            <p class="navTitles">Home</p>
                        </div>
                    </a>
                    <a href="#technology">
                        <div class="option"><i class='bx bx-microchip'></i>
                            <p class="navTitles">Technology</p>
                        </div>
                    </a>
                    <a href="#science">
                        <div class="option"><i class='bx bxs-flask'></i>
                            <p class="navTitles">Science</p>
                        </div>
                    </a>
                    <a href="#sports">
                        <div class="option"><i class='bx bx-basketball'></i>
                            <p class="navTitles">Sports</p>
                        </div>
                    </a>
                </div>
                <p class="aboveIcon">Choose a category</p>
                <i class='bx bxs-chevron-down'></i>
            </div>
        </nav>

        <div class="spacing">
            {{range .Post}}
            <div id="CommentSection={{.ID}}" class="CommentSection">
                <div class="postCommentHeader">
                    <form action="javascript:history.back()" method="post">
                        <button type="submit">
                            <i class='bx bx-x'></i>
                        </button>
                    </form>
                </div>
                <div class="post2">
                    <div class="postContent">
                        <div class="userDisplay">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                            <div class="postHeader">
                                <p class="nameCommentContent">@{{.Username}} &nbsp<span
                                        style="font-weight: normal;">•&nbsp {{.FormatDate}}</span></p>
                            </div>
                        </div>
                        <p class="textContent">{{.Content}}</p>
                        {{if .Media}}
                        {{range .Media}}
                        <div class="imageSpace">
                            <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                        </div>
                        {{end}}
                        {{end}}
                        <div class="updateInfo">
                            <div class="combinedlikeDis">
                                <label for="likeCheckbox">
                                    <input type="checkbox" id="likeCheckbox" hidden>
                                    <form action="/inPostlike?post_id={{.ID}}" method="post">
                                        <button type="submit" class="likeButton">
                                            <i class='bx bx-like'></i>
                                            <p>{{.Likes}}</p>
                                        </button>
                                    </form>
                                </label>
                                <label for="dislikeCheckbox">
                                    <input type="checkbox" id="dislikeCheckbox" hidden>
                                    <form action="/inPostdislike?post_id={{.ID}}" method="post">
                                        <button type="submit" class="dislikeButton">
                                            <i class='bx bx-dislike'></i>
                                            <p>{{.Dislikes}}</p>
                                        </button>
                                    </form>
                                </label>
                            </div>
                            <a href="#home">
                                <div class="commentsCon">
                                    <i class='bx bxs-comment comments'></i>
                                    <p>{{.ComCount}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <form action="createcomment" method="post">
                        <input type="hidden" name="hiddenID" value="{{.ID}}">
                        <div class="inputComment">
                            <input type="text" name="commentInput" placeholder="Launch a new comment..." title=""
                                maxlength="366" required autocomplete="off">
                            <button type="submit" class="submitCommentLabel">
                                <i class='bx bx-rocket'></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="otherComments">
                    {{range .Comment}}
                    <div class="comment">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.ComUsername}} &nbsp<span style="font-weight: normal;">•&nbsp {{.ComFormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">
                                {{.ComContent}}
                            </p>
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/Commentlike?comment_id={{.ComID}}" method="post">
                                            <input type="hidden" name="post_id" value="{{.PostID}}">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.ComLikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/Commentdislike?comment_id={{.ComID}}" method="post">
                                            <input type="hidden" name="post_id" value="{{.PostID}}">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.ComDislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="pcAnchor">
                <form action="javascript:history.back()" method="post">
                    <button type="submit"></button>
                </form>
            </div>
            {{end}}
            <div class="mainContainer">
                <div class="combinedside">
                    <input type="checkbox" id="toggleplus" hidden />
                    <div class="floating">
                        <div class="plus">
                            <label for="toggleplus" class="pluslabel">
                                <i class='bx bxs-x-circle'></i>
                                <p>Create Post</p>
                            </label>
                        </div>
                        <div class="createPost">
                            <form action="createpost" method="post" enctype="multipart/form-data">
                                <input type="text" name="postText" placeholder="Launch a new post..." autocomplete="off"
                                    maxlength="366" title="" required>
                                <div class="launchSp">
                                    <input type="checkbox" id="toggleCatExpansion" class="toggleCatExpansion" />
                                    <label for="toggleCatExpansion" class="categoryInput">
                                        <i class='bx bx-category'></i>
                                        <span class="tooltip">Choose Categories</span>
                                    </label>
                                    <div class="catExpansionContainer">
                                        <div class="checkboxItem">
                                            <input type="checkbox" id="memesCheck" name="catInputs" value="Memes">
                                            <label for="memesCheck"><i class='bx bx-laugh'></i><span
                                                    class="tooltip">Memes</span></label>
                                        </div>
                                        <div class="checkboxItem">
                                            <input type="checkbox" id="gamingCheck" name="catInputs" value="Gaming">
                                            <label for="gamingCheck"><i class='bx bx-joystick'></i><span
                                                    class="tooltip">Gaming</span></label>
                                        </div>
                                        <div class="checkboxItem">
                                            <input type="checkbox" id="educationCheck" name="catInputs"
                                                value="Education">
                                            <label for="educationCheck"><i class='bx bx-book-alt'></i><span
                                                    class="tooltip">Education</span></label>
                                        </div>
                                        <div class="checkboxItem">
                                            <input type="checkbox" id="techCheck" name="catInputs" value="Technology">
                                            <label for="techCheck"><i class='bx bx-microchip'></i><span
                                                    class="tooltip">Technology</span></label>
                                        </div>
                                        <div class="checkboxItem">
                                            <input type="checkbox" id="sciCheck" name="catInputs" value="Science">
                                            <label for="sciCheck"><i class='bx bxs-flask'></i><span
                                                    class="tooltip">Science</span></label>
                                        </div>
                                        <div class="checkboxItem">
                                            <input type="checkbox" id="sportCheck" name="catInputs" value="Sports">
                                            <label for="sportCheck"><i class='bx bx-basketball'></i><span
                                                    class="tooltip">Sports</span></label>
                                        </div>
                                    </div>
                                    <label for="imageUpload" class="uploadLabel">
                                        <i class='bx bx-image-add icon'></i>
                                        <span class="tooltip">Upload Image</span>
                                    </label>
                                    <input type="file" id="imageUpload" class="imageUpload" name="postImage"
                                        accept="image/*, video/*">
                                    <label for="submitBtn" class="submitLabel">
                                        <i class='bx bx-rocket'></i>
                                    </label>
                                    <input type="submit" id="submitBtn" hidden>
                                </div>
                            </form>
                        </div>
                    </div>
                    <aside class="spaceNews">
                        <div class="newsTitle">
                            <p class="newsT">Space News</p>
                        </div>
                        <div class="newsContainer">
                            <div class="newsContent">
                                <a href="https://nasaspacenews.com/2024/11/are-black-holes-secretly-powering-the-expansion-of-the-universe/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Are Black Holes Secretly Powering the Expansion of the Universe?</p>
                                        <img src="../../images/news1.webp" alt="Apollo 12">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/could-life-thrive-better-in-a-different-universe-new-findings-spark-debate/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Could Life Thrive Better in a Different Universe? New Findings Spark Debate.
                                        </p>
                                        <img src="../../images/news2.webp" alt="Debate">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/incredible-space-event-andromeda-star-goes-dark-becoming-a-black-hole/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Incredible Space Event! Andromeda Star Goes Dark, Becoming a Black Hole.</p>
                                        <img src="../../images/news3.jpg" alt="Andromeda Star">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/new-discoveries-suggest-mars-was-habitable-for-millions-of-years-did-life-exist/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>New Discoveries Suggest Mars Was Habitable for Millions of Years—Did Life
                                            Exist?</p>
                                        <img src="../../images/news4.webp" alt="Mars Discovery">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/a-mirror-universe-that-moves-backward-in-time-scientists-say-it-could-be-real/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>A Mirror Universe That Moves Backward in Time? Scientists Say It Could Be
                                            Real!</p>
                                        <img src="../../images/news5.webp" alt="Mirror Universe">
                                    </div>
                                </a>
                            </div>
                            <!-- Duplicate content for seamless scrolling -->
                            <div class="newsContent">
                                <a href="https://nasaspacenews.com/2024/11/are-black-holes-secretly-powering-the-expansion-of-the-universe/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Are Black Holes Secretly Powering the Expansion of the Universe?</p>
                                        <img src="../../images/news1.webp" alt="Apollo 12">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/could-life-thrive-better-in-a-different-universe-new-findings-spark-debate/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Could Life Thrive Better in a Different Universe? New Findings Spark Debate.
                                        </p>
                                        <img src="../../images/news2.webp" alt="Debate">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/incredible-space-event-andromeda-star-goes-dark-becoming-a-black-hole/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>Incredible Space Event! Andromeda Star Goes Dark, Becoming a Black Hole.</p>
                                        <img src="../../images/news3.jpg" alt="Andromeda Star">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/new-discoveries-suggest-mars-was-habitable-for-millions-of-years-did-life-exist/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>New Discoveries Suggest Mars Was Habitable for Millions of Years—Did Life
                                            Exist?</p>
                                        <img src="../../images/news4.webp" alt="Mars Discovery">
                                    </div>
                                </a>
                                <a href="https://nasaspacenews.com/2024/11/a-mirror-universe-that-moves-backward-in-time-scientists-say-it-could-be-real/"
                                    target="_blank">
                                    <div class="newsItem">
                                        <p>A Mirror Universe That Moves Backward in Time? Scientists Say It Could Be
                                            Real!</p>
                                        <img src="../../images/news5.webp" alt="Mirror Universe">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- Filtered Posts -->
                {{range .UserProfile}}
                <div class="createdposts" id="createdposts">
                    {{range .CreatedPosts}}
                          <div class="post">
                                <div class="sidePP">
                                    <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                                </div>
                                <div class="postContent">
                                    <div class="userDisplay">
                                        <div class="postHeader">
                                            <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                                    {{.FormatDate}}</span></p>
                                        </div>
                                    </div>
                                    <p class="textContent">{{.Content}}</p>
                                    {{if .Media}}
                                    {{range .Media}}
                                    <div class="imageSpace">
                                        <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                                    </div>
                                    {{end}}
                                    {{end}}
                                    <div class="updateInfo">
                                        <div class="combinedlikeDis">
                                            <label for="likeCheckbox">
                                                <input type="checkbox" id="likeCheckbox" hidden>
                                                <form action="/like?post_id={{.ID}}" method="post">
                                                    <button type="submit" class="likeButton">
                                                        <i class='bx bx-like'></i>
                                                        <p>{{.Likes}}</p>
                                                    </button>
                                                </form>
                                            </label>
                                            <label for="dislikeCheckbox">
                                                <input type="checkbox" id="dislikeCheckbox" hidden>
                                                <form action="/dislike?post_id={{.ID}}" method="post">
                                                    <button type="submit" class="dislikeButton">
                                                        <i class='bx bx-dislike'></i>
                                                        <p>{{.Dislikes}}</p>
                                                    </button>
                                                </form>
                                            </label>
                                        </div>
                                        <a href="#CommentSection={{.ID}}">
                                            <div class="commentsCon">
                                                <i class='bx bx-comment comments'></i>
                                                <p>{{.ComCount}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    {{end}}
                </div>
                {{end}}     
                {{range .UserProfile}}
                <div class="createdposts" id="likedposts">
                    {{range .LikedPosts}}
                          <div class="post">
                                <div class="sidePP">
                                    <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                                </div>
                                <div class="postContent">
                                    <div class="userDisplay">
                                        <div class="postHeader">
                                            <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                                    {{.FormatDate}}</span></p>
                                        </div>
                                    </div>
                                    <p class="textContent">{{.Content}}</p>
                                    {{if .Media}}
                                    {{range .Media}}
                                    <div class="imageSpace">
                                        <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                                    </div>
                                    {{end}}
                                    {{end}}
                                    <div class="updateInfo">
                                        <div class="combinedlikeDis">
                                            <label for="likeCheckbox">
                                                <input type="checkbox" id="likeCheckbox" hidden>
                                                <form action="/like?post_id={{.ID}}" method="post">
                                                    <button type="submit" class="likeButton">
                                                        <i class='bx bx-like'></i>
                                                        <p>{{.Likes}}</p>
                                                    </button>
                                                </form>
                                            </label>
                                            <label for="dislikeCheckbox">
                                                <input type="checkbox" id="dislikeCheckbox" hidden>
                                                <form action="/dislike?post_id={{.ID}}" method="post">
                                                    <button type="submit" class="dislikeButton">
                                                        <i class='bx bx-dislike'></i>
                                                        <p>{{.Dislikes}}</p>
                                                    </button>
                                                </form>
                                            </label>
                                        </div>
                                        <a href="#CommentSection={{.ID}}">
                                            <div class="commentsCon">
                                                <i class='bx bx-comment comments'></i>
                                                <p>{{.ComCount}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    {{end}}
                </div>
                {{end}}     
                {{range .UserProfile}}
                <div class="createdposts" id="dislikedposts">
                    {{range .DislikedPosts}}
                          <div class="post">
                                <div class="sidePP">
                                    <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                                </div>
                                <div class="postContent">
                                    <div class="userDisplay">
                                        <div class="postHeader">
                                            <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                                    {{.FormatDate}}</span></p>
                                        </div>
                                    </div>
                                    <p class="textContent">{{.Content}}</p>
                                    {{if .Media}}
                                    {{range .Media}}
                                    <div class="imageSpace">
                                        <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                                    </div>
                                    {{end}}
                                    {{end}}
                                    <div class="updateInfo">
                                        <div class="combinedlikeDis">
                                            <label for="likeCheckbox">
                                                <input type="checkbox" id="likeCheckbox" hidden>
                                                <form action="/like?post_id={{.ID}}" method="post">
                                                    <button type="submit" class="likeButton">
                                                        <i class='bx bx-like'></i>
                                                        <p>{{.Likes}}</p>
                                                    </button>
                                                </form>
                                            </label>
                                            <label for="dislikeCheckbox">
                                                <input type="checkbox" id="dislikeCheckbox" hidden>
                                                <form action="/dislike?post_id={{.ID}}" method="post">
                                                    <button type="submit" class="dislikeButton">
                                                        <i class='bx bx-dislike'></i>
                                                        <p>{{.Dislikes}}</p>
                                                    </button>
                                                </form>
                                            </label>
                                        </div>
                                        <a href="#CommentSection={{.ID}}">
                                            <div class="commentsCon">
                                                <i class='bx bx-comment comments'></i>
                                                <p>{{.ComCount}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    {{end}}
                </div>
                {{end}}    
                
                <!-- Categories -->
                {{range .MemesPosts}}
                <div class="createdposts" id="memes">
                    <div class="post">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/like?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.Likes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/dislike?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.Dislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.PostID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{range .GamingPosts}}
                <div class="createdposts" id="gaming">
                    <div class="post">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/like?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.Likes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/dislike?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.Dislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.PostID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{range .EducationPosts}}
                <div class="createdposts" id="education">
                    <div class="post">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/like?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.Likes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/dislike?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.Dislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.PostID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{range .TechnologyPosts}}
                <div class="createdposts" id="technology">
                    <div class="post">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/like?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.Likes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/dislike?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.Dislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.PostID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{range .SciencePosts}}
                <div class="createdposts" id="science">
                    <div class="post">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/like?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.Likes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/dislike?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.Dislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.PostID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{range .SportsPosts}}
                <div class="createdposts" id="sports">
                    <div class="post">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/like?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.Likes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/dislike?post_id={{.PostID}}" method="post">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.Dislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.PostID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                <!-- Main content with posts -->
                <main>
                    {{range .Post}}
                    <div class="post" id="post={{.ID}}">
                        <div class="sidePP">
                            <img class="ppContent" src="../../images/moataz.jpg" alt="Profile">
                        </div>
                        <div class="postContent">
                            <div class="userDisplay">
                                <div class="postHeader">
                                    <p class="nameContent">@{{.Username}} &nbsp<span style="font-weight: normal;">•&nbsp
                                            {{.FormatDate}}</span></p>
                                </div>
                            </div>
                            <p class="textContent">{{.Content}}</p>
                            {{if .Media}}
                            {{range .Media}}
                            <div class="imageSpace">
                                <img src="../../{{.FilePath}}" class="image" alt="Post Image">
                            </div>
                            {{end}}
                            {{end}}
                            <div class="updateInfo">
                                <div class="combinedlikeDis">
                                    <label for="likeCheckbox">
                                        <input type="checkbox" id="likeCheckbox" hidden>
                                        <form action="/like?post_id={{.ID}}" method="post">
                                            <button type="submit" class="likeButton">
                                                <i class='bx bx-like'></i>
                                                <p>{{.Likes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                    <label for="dislikeCheckbox">
                                        <input type="checkbox" id="dislikeCheckbox" hidden>
                                        <form action="/dislike?post_id={{.ID}}" method="post">
                                            <button type="submit" class="dislikeButton">
                                                <i class='bx bx-dislike'></i>
                                                <p>{{.Dislikes}}</p>
                                            </button>
                                        </form>
                                    </label>
                                </div>
                                <a href="#CommentSection={{.ID}}">
                                    <div class="commentsCon">
                                        <i class='bx bx-comment comments'></i>
                                        <p>{{.ComCount}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </main>    
            </div>
        </div>
    </div>
    </div>
</body>
</html>