:root{
  --main-font: 'Outfit', sans-serif;
  --dark-color: #2a255f;
  --darker-color: rgb(21, 3, 59);
  --light-color: #8080d7;
  --lighter-color: #a2a2ee;
}

body{
  background-color: var(--darker-color);
  font-family: var(--main-font);
  color: white;
}

*{
  font-family: var(--main-font);
}

*::-webkit-scrollbar{
display: none;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; 
  backdrop-filter: blur(5px); 
  opacity: 0.65;
}

input::selection {
  background-color: rgba(255, 255, 255, 0.3);
}

.stars {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 
    68% 57%, 79% 91%, 
    50% 70%, 21% 91%, 
    32% 57%, 2% 35%, 
    39% 35%
  );
  animation: shine 3s infinite alternate;
}

@keyframes shine {
  0% {
    opacity: 0.3;
    scale: 0.4;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
  
.star:nth-child(1) {
  top: 80%; left: 20%; transform: scale(1);
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.star:nth-child(2) {
  top: 30%; left: 40%; transform: scale(0.8);
  animation-duration: 2s;
  animation-delay: 1s;
}

.star:nth-child(3) {
  top: 50%; left: 60%; transform: scale(1.2);
  animation-duration: 1.8s;
  animation-delay: 0.3s;
}

.star:nth-child(4) {
  top: 70%; left: 80%; transform: scale(0.9);
  animation-duration: 1.6s;
  animation-delay: 0.8s;
}

.star:nth-child(5) {
  top: 50%; left: 10%; transform: scale(1.1);
  animation-duration: 2.3s;
  animation-delay: 0.2s;
}

.star:nth-child(6) {
  top: 25%; left: 20%; transform: scale(0.7);
  animation-duration: 1.4s;
  animation-delay: 1.2s;
}

.star:nth-child(7) {
  top: 65%; left: 30%; transform: scale(1.3);
  animation-duration: 2.2s;
  animation-delay: 0.4s;
}

.star:nth-child(8) {
  top: 45%; left: 90%; transform: scale(1);
  animation-duration: 1.9s;
  animation-delay: 0.7s;
}

.star:nth-child(9) {
  top: 75%; left: 50%; transform: scale(0.9);
  animation-duration: 1.6s;
  animation-delay: 0.3s;
}

.star:nth-child(10) {
  top: 20%; left: 70%; transform: scale(1.2);
  animation-duration: 2s;
  animation-delay: 0.6s;
}

a{
  text-decoration: none;
  color: white;
}

.mainheader{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  padding: 20px;
  position: relative;
  z-index: 1111;
}

nav{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.spaceNav{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transform: translateY(-85.5%);
  height: 15rem;
  opacity: 0.4;
  background-color: #342e74;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--dark-color);
  z-index: 2;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.spaceNav i{
  color: var(--lighter-color);
  transition: 0.5s ease;
  margin-bottom: 2px;
}

.aboveIcon{
  margin-top: 205px;
  color: var(--lighter-color);
  font-size: 12px;
}

.spaceNav a{
  color: var(--lighter-color);
}

.wrapOptions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.option{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapOptions a{
  height: 0;
}

.spaceNav .wrapOptions .option i{
  font-size: 24px;
  transform: rotate(360deg);
}

.spaceNav:hover{
  transition: 0.3s ease;
  transform: translateY(-55%);
  opacity: 1;
}

.spaceNav:hover i{
  transition: 0.3s ease;
  transform: rotate(180deg);
}

.spaceNav:hover .option{
  border: none;
}

.spaceNav:hover .aboveIcon{
  display: none;
}

.spaceNav:hover .navTitles{
  opacity: 1;
}

.option{
  transition: 0.5s ease;
  margin-top: 160px;
}

.navTitles{
  opacity: 0;
  font-size: 14px;
}

.option:hover, .option:hover i{
  transition: 0.1s ease;
  color: white;
}

.title{
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.5px;
  animation-delay: 2s;
}

.bxs-planet{
  transform: translateY(7%);
  will-change: transform;
}

.mainheader:hover p .bxs-planet{
  animation: rotate 2s 0.4s forwards;
}

@keyframes rotate{
  0% {
    scale: 0;
    transform: translateY(7%) rotate(0deg);
  }
  50% {
    scale: 1;
    transform: translateY(10%) rotate(180deg);
  }
  100% {
    scale: 1;
    transform: translateY(7%) rotate(360deg);
  }
}

.logout{
  position: absolute;
  left: 1.5%;
  font-size: 26px;
  padding: 5px;
  top: 25%;
}

.something{
  position: absolute;
  right: 1.5%;
  font-size: 26px;
  padding: 5px;
  top: 28.5%;
}

.logout:hover{
  color: var(--light-color);
}

.mainContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  z-index: 1;
}

main{
  position: relative;
  box-shadow: 0 0 10px var(--dark-color);
  height: 420px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

aside{
  border-radius: 10px;
  box-shadow: 0 0 10px var(--dark-color);
  width: 20rem;
}

.post{
  width: 90%;
  height: 60px;
  box-shadow: 0 0 10px var(--dark-color);
  border-radius: 10px;
}

.spaceNews{
  width: 10rem;
  text-align: center;
}

.spaceNews p{
  margin-top: 10px;
}

.createPost{
  width: 50rem;
  box-shadow: 0 0 10px var(--dark-color);
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px;
}

.createPost input{
  background-color: var(--dark-color);
  border: none;
  color: white;
  outline: none;
  border-radius: 10px;
}

.createPost input[type="text"]{
  padding: 15px;
  padding-right: 90px;
  margin-left: 10px;
  width: 100%;
  background-color: #2a255fbf;
}

.createPost input[type="text"]:focus ~ .launchSp .submitLabel i{
  animation: preLaunch 1.2s ease-in-out infinite;
}

.createPost input[type="text"]:focus {
  opacity: 1;
}

.createPost input[type="file"]{
  display: none;
}

.uploadLabel{
  position: absolute;
  cursor: pointer;
  bottom: 22%;
  right: 9.5%;
  scale: 0.85;
  font-size: 1.9rem;
}

.uploadLabel i{
  transition: 0.3s ease;
}

.uploadLabel i:hover{
  color: var(--light-color);
}

.launchSp input[type="submit"]{
  display: none;
}

.launchSp{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 10%;
  display: flex;
  justify-content: center;
}

.createPost input::placeholder{
  color: white;
  opacity: 0.6;
}

.profileContainer{
  width: 10rem;
}

.submitLabel{
  transition: 0.3s ease;
  scale: 0.8;
}

.submitLabel:hover{
  color: var(--light-color);
}

@keyframes preLaunch {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.submitLabel i{
  cursor: pointer;
  font-size: 1.9rem;
}

.categoryInput{
  position: absolute;
  cursor: pointer;
  bottom: 26%;
  right: 15%;
  scale: 0.8;
}

.categoryInput i{
  cursor: pointer;
  font-size: 1.9rem;
  transition: 0.3s ease;
}

.categoryInput i:hover{
  color: var(--light-color);
}
