:root{
  --main-font: 'Outfit', sans-serif;
  --dark-color: #2a255f;
  --darker-color: rgb(21, 3, 59);
  --light-color: #8080d7;
  --lighter-color: #a2a2ee;
}

body{
  background-color: var(--darker-color);
  font-family: var(--main-font);
  color: white;
  overflow: hidden;
  position: relative;
}

.spacing{
  display: flex;
  width: 100%;
  justify-content: center;
}

*{
  font-family: var(--main-font);
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--darker-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-color);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-color) var(--darker-color);
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; 
  backdrop-filter: blur(5px); 
  opacity: 0.65;
}

input::selection {
  background-color: rgba(255, 255, 255, 0.3);
}

.stars {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 
    68% 57%, 79% 91%, 
    50% 70%, 21% 91%, 
    32% 57%, 2% 35%, 
    39% 35%
  );
  animation: shine 3s infinite alternate;
}

@keyframes shine {
  0% {
    opacity: 0.3;
    scale: 0.4;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
  
.star:nth-child(1) {
  top: 80%; left: 20%; transform: scale(1);
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.star:nth-child(2) {
  top: 30%; left: 26%; transform: scale(0.8);
  animation-duration: 2s;
  animation-delay: 1s;
}

.star:nth-child(3) {
  top: 50%; left: 60%; transform: scale(1.2);
  animation-duration: 1.8s;
  animation-delay: 0.3s;
}

.star:nth-child(4) {
  top: 70%; left: 80%; transform: scale(0.9);
  animation-duration: 1.6s;
  animation-delay: 0.8s;
}

.star:nth-child(5) {
  top: 50%; left: 10%; transform: scale(1.1);
  animation-duration: 2.3s;
  animation-delay: 0.2s;
}

.star:nth-child(6) {
  top: 20%; left: 5%; transform: scale(0.7);
  animation-duration: 1.4s;
  animation-delay: 1.2s;
}

.star:nth-child(7) {
  top: 65%; left: 30%; transform: scale(1.3);
  animation-duration: 2.2s;
  animation-delay: 0.4s;
}

.star:nth-child(8) {
  top: 45%; left: 90%; transform: scale(1);
  animation-duration: 1.9s;
  animation-delay: 0.7s;
}

.star:nth-child(9) {
  top: 75%; left: 50%; transform: scale(0.9);
  animation-duration: 1.6s;
  animation-delay: 0.3s;
}

.star:nth-child(10) {
  top: 20%; left: 70%; transform: scale(1.2);
  animation-duration: 2s;
  animation-delay: 0.6s;
}

a{
  text-decoration: none;
  color: white;
}

.mainheader{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  padding: 20px;
  position: relative;
  z-index: 1111;
}

nav{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.spaceNav{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transform: translateY(-85.5%);
  height: 15rem;
  opacity: 0.4;
  background-color: #342e74;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--dark-color);
  z-index: 2;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.spaceNav i{
  color: var(--lighter-color);
  transition: 0.3s ease;
  margin-bottom: 2px;
}

.aboveIcon{
  margin-top: 205px;
  color: var(--lighter-color);
  font-size: 12px;
}

.spaceNav a{
  color: var(--lighter-color);
}

.wrapOptions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.option{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapOptions a{
  height: 0;
}

.spaceNav .wrapOptions .option i{
  font-size: 24px;
  transform: rotate(360deg);
}

.spaceNav:hover{
  transition: 0.3s ease;
  transform: translateY(-55%);
  opacity: 1;
}

.spaceNav:hover i{
  transition: 0.3s ease;
  transform: rotate(180deg);
}

.spaceNav:hover .option{
  border: none;
}

.spaceNav:hover .aboveIcon{
  display: none;
}

.spaceNav:hover .navTitles{
  opacity: 1;
}

.option{
  transition: 0.5s ease;
  margin-top: 160px;
}

.navTitles{
  opacity: 0;
  font-size: 14px;
}

.option:hover, .option:hover i{
  transition: 0.1s ease;
  color: white;
}

.title{
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.5px;
  animation-delay: 2s;
}

.bxs-planet{
  transform: translateY(7%);
  will-change: transform;
}

.mainheader p .bxs-planet{
  animation: rotate 5s 0.4s infinite;
}

@keyframes rotate{
  0% {
    transform: translateY(7%) rotate(0deg);
  }
  50% {
    transform: translateY(10%) rotate(180deg);
  }
  100% {
    transform: translateY(7%) rotate(360deg);
  }
}

.logout{
  position: absolute;
  left: 1.5%;
  font-size: 26px;
  padding: 5px;
  top: 25%;
}

.something{
  position: absolute;
  right: 1.5%;
  font-size: 26px;
  padding: 5px;
  cursor: pointer;
  top: 25%;
}

.something:hover{
  color: var(--light-color);
}

.profileContainer{
  position: absolute;
  background-color: var(--darker-color);
  transform: translateY(55.9%);
  box-shadow: 0 0 10px var(--dark-color);
  border-bottom-left-radius: 10px;
  border-top: 1px solid var(--darker-color);
  right: -11rem;
  width: 12.4rem;
  opacity: 0;
  height: 630px;
  transition: 0.3s ease; 
}

.profileHeader{
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-bottom: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: #2a255f9a;
  border: 5px solid var(--darker-color);
}

.profilePic{
  cursor: pointer;
  /* width: 6rem; */
  font-size: 100px;
  border-radius: 50%;
  /* height: 6rem; */
  /* background-color: var(--dark-color); */
  margin-bottom: 10px;
}

.profileFilter{
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
}

.editPP{
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 20px;
}

.editPP:hover{
  color: var(--light-color);
}

.profileFilter a:hover{
  color: white;
  background-color: var(--dark-color);
  scale: 1;
}

.profileFilter a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-radius: 15px;
  padding: 12px 18px;
  background-color: var(--darker-color);
  width: 75%;
  scale: 0.9;
  color: var(--light-color);
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.uploadPP{
  background-color: #8080d7;
  border: none;
  color: #2a255f;
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  padding: 0;
  border-radius: 10px;
  font-family: var(--main-font);
  text-align: center;
}

.uploadPP:hover{
  transition: 0.3s ease;
  background-color: white;
  font-weight: bold;
}

input[type="checkbox"]{
  display: none;
}

#profileActivate:checked + .profileContainer{
  opacity: 1;
  right: 0;
}

.logout:hover{
  color: var(--light-color);
}

.mainContainer{
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px var(--dark-color);
  border-radius: 10px;
  flex-direction: row;
  width: 90rem;
  height: 34rem;
  position: relative;
  z-index: 1;
}

.combinedside{
  display: flex;
  flex-direction: column;
  padding-right: 3px;
  border-right: 1px solid var(--dark-color);
}

main{
  position: relative;
  max-width: 1100px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 0.5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

aside{
  border-radius: 10px;
  overflow-y: hidden;
  border-top: 1px solid var(--dark-color);
}

.post{
  width: 75%;
  display: flex;
  border: 1px solid var(--dark-color);
  background-color: #2a255f4e;
  box-shadow: 0 0 5px var(--dark-color);
  border-radius: 5px;
  transition: 0.1s ease;
}

.post:hover{ 
  background-color: #413c8b4e;
}

.spaceNews{
  width: 25rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spaceNews p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.newsTitle{
  z-index: 1111;
  background-color: var(--darker-color);
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsT{
  font-size: 1rem;
  background-color: #2a255fbf;
  border-radius: 10px;
  padding: 5px;
  width: 75%;
  position: relative;
}

.spaceNews img{
  width: 150px;
  object-fit: contain;
  border-radius: 25%;
}

.newsContainer{
  animation: scrollNews 30s linear infinite;
}

.newsContainer:hover{
  animation-play-state: paused;
}

@keyframes scrollNews {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-50%);
  }
}

.newsItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
}

.newsItem p{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem;
  width: 250px;
}

.newsItem::after{
  content: '';
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 65%; 
  border-bottom: 2px solid var(--dark-color);
}

.newsItem:hover p{
  color: var(--light-color);
}

.createPost{
  width: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  justify-content: center;
  padding: 5px;
}

.createPost input{
  background-color: var(--dark-color);
  border: none;
  color: white;
  outline: none;
  border-radius: 10px;
}

.createPost input[type="text"]{
  margin-top: 5px;
  padding: 15px;
  width: 18rem;
  background-color: #2a255fbf;
}

.createPost input[type="text"]:focus ~ .launchSp .submitLabel i{
  animation: preLaunch 1.2s ease-in-out infinite;
}

.createPost input[type="text"]:focus {
  opacity: 1;
}

input[type="file"]{
  display: none;
}

.uploadLabel{
  position: absolute;
  cursor: pointer;
  left: 11%;
  scale: 0.85;
  font-size: 1.9rem;
}

.uploadLabel i{
  transition: 0.3s ease;
}

.uploadLabel i:hover{
  color: var(--light-color);
}

.launchSp input[type="submit"]{
  display: none;
}

.launchSp{
  position: relative;
  padding: 10px;
  padding-left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.createPost input::placeholder{
  color: white;
  opacity: 0.6;
}

.submitLabel{
  transition: 0.3s ease;
  scale: 0.8;
}

.submitLabel:hover{
  color: var(--light-color);
}

@keyframes preLaunch {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.submitLabel i{
  cursor: pointer;
  font-size: 1.9rem;
}

.categoryInput{
  position: absolute;
  cursor: pointer;
  left: 1%;
  scale: 0.8;
}

.categoryInput i{
  cursor: pointer;
  font-size: 1.9rem;
  transition: 0.3s ease;
}

.categoryInput i:hover{
  color: var(--light-color);
}

.userDisplay{
  display: flex;
  text-align: center;
  align-items: center;
  margin: 5px;
}

.ppContent{
  box-shadow: 0 0 10px var(--dark-color);
  background-color: black;
  width: 10rem;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: contain;
  height: 3rem;
  border-radius: 50%;
}

.nameContent{
  font-size: 0.9rem;
  font-weight: bold;
}

.postContent{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  height: auto;
  border: 7px solid transparent;
}

.textContent{
  border-radius: 5px;
  padding: 15px;
  padding-top: 0;
  overflow: none;
  width: 96.5%;
  font-size: 1rem;
}

.postHeader{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.image{
  height: 350px;
  object-fit: contain;
  box-sizing: border-box;
  align-self: center;
  border-radius: 15px;
  margin-bottom: 7px;
}

.updateInfo{
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-bottom: 7px;
}

.likes, .dislikes, .comments{
  margin-top: 3px;
  font-size: 1.3rem;
}

.likesCon, .dislikesCon, .commentsCon{
  width: 40px;
  display: flex;
  gap: 10%;
}

.commentsCon:hover, .likesCon:hover, .dislikesCon:hover{
  cursor: pointer;
  color: var(--light-color);
}

#likeCheckbox:checked + .likes {
  color: rgb(24, 227, 24); 
}

#likeCheckbox {
  display: none;
}

#likeCheckbox:checked + .likes {
  color: rgb(24, 227, 24);
}

.updateInfo p{
  font-size: 0.9rem;
  margin-top: 6px; 
}

input[type="checkbox"] {
  cursor: pointer;
}

.catExpansionContainer {
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: var(--darker-color);
  flex-direction: column;
  text-align: center;
  width: 99%;
  height: 437px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  transform: translate(0.4%, 10.65%);
}

.catExpansionContainer .catTitle{
  padding: 10px;
  background-color: var(--darker-color);
  display: flex;
  justify-content: center;
  width: 95%;
  border-radius: 10px;
} 

.catExpansionContainer .catT{
  font-size: 1rem;
  background-color: #2a255fbf;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
}

#toggleCatExpansion:checked ~ .catExpansionContainer {
  display: block;
  animation: opacityAnimation 0.3s ease;
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toggleCatExpansion {
  display: none;
}

.checkboxItem input[type="checkbox"] {
  display: none;
}
.checkboxItem label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 18px;
  margin-left: 5px;
  transition: all 0.3s ease;
  font-size: 1.1rem;
  border-radius: 15px;
  color: var(--light-color);
  scale: 0.9;
}

.checkboxItem label i {
  margin-right: 8px;
}

.checkboxItem input[type="checkbox"]:checked + label {
  color: white;
  scale: 1;
}

.checkboxItem input[type="checkbox"]:checked + label i {
  color: white;
  scale: 1;
}
.checkboxItem input[type="checkbox"]:hover + label {
  background-color: #2a255fbf;
  color: white;
  scale: 1;
}

#PostComments{
  /* display: none; */
  position: absolute;
  width: 600px;
  height: 700px;
  top: -50%;
  right: 35%;
  z-index: 99999999;
  /* background-color: black; */
}

#PostComments:target{
  display: block;
  
}
